.about {
  padding-block: 64px 124px;
  background: #f8f8f8;
  h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #241917;
    text-align: center;
    margin-bottom: 30px;
  }
  h2 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #241917;
    text-align: center;
  }
  &__desc {
    display: flex;
    gap: 16px;
    margin-bottom: 80px;
    flex-wrap: wrap;
    & > div {
      flex: 1;
      padding: 28px 26px;
      background: #fff;
      border-top: 4px solid #ee2922;
      box-shadow: 0px 4px 12px rgba(255, 0, 0, 0.06);
      border-radius: 15px;
      h4 {
        margin-bottom: 10px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #222222;
      }
      p {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        color: #5a5858;
      }
    }
  }
  &__about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(316px, 1fr));
    row-gap: 24px;
    column-gap: 60px;
    margin-bottom: 84px;
    & > a {
      background: #ffffff;
      box-shadow: 3px 1px 7px rgba(36, 25, 23, 0.12);
      border-radius: 20px;
      text-decoration: none;
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #222222;
      padding-block: 24px;
      display: flex;
      justify-content: center;
      transition: all 300ms ease;
      &:hover {
        background-color: #ee2922;
        color: #fff;
      }
    }
  }
  &__slider {
    margin-bottom: 80px;
  }
  &__staff {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 80px;
    &_card {
      width: 170px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      & > div {
        height: 170px;
        position: relative;
        .photo {
          width: 170px;
          height: 170px;
          object-fit: cover;
          border-radius: 50%;
        }
        .icon {
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
      h5 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        text-transform: capitalize;
        color: #000000;
      }
      span {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #8e8e8e;
      }
    }
  }
  &__friends {
    background: #fff;
    margin-top: 40px;
    margin-bottom: 110px;
    &_inner {
      display: flex;
      padding-block: 64px;
      justify-content: space-between;
    }
  }
  &__feedbacks {
    margin-top: 50px;
    .feedback {
      box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.08);
      border-radius: 15px;
      padding: 40px;
      background: #fff;
      height: 300px;
      display: flex;
      flex-direction: column;
    //   width: 720px;
      gap: 20px;
      &__head {
        display: flex;
        justify-content: space-between;
        img {
          width: 38px;
        }
        h6 {
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 32px;
          line-height: 39px;
          color: #000000;
        }
      }
      p {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #5b5b5b;
        width: 90%;
      }
    }
  }
}
