.button {
  font-family: "Inter";
  border: 1px transparent;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 12px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
  &:hover {
    transition: all 0.2s ease-in-out;
  }
}
.default {
  background-color: #ee2922;
  color: #fff;
  padding: 12px 20px;

  &:hover {
    background: #fff;
    color: #ee2922;
  }
}

.choose {
  border: 1px solid #ee2922;
  &:hover {
    border: 1px solid #ee2922;
    background: rgba(238, 41, 34, 0.59);
    color: #ffffff;
  }
}

.transparent {
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 16px 24px;
  &:hover {
    background: rgba(255, 255, 255, 0.14);
  }
}

.sign-up {
  text-transform: uppercase;
  padding: 19px 21px;
  border-radius: 9px;
  &:hover {
    box-shadow: 0 12px rgba(0, 0, 0, 0.16);
    background-color: #ee2922;
    color: #ffffff;
  }
}

.articles {
  padding: 19px 59px;
  margin-bottom: 7.5rem;
  color: #ee2922;
  border: 1px solid #ee2922;
  font-size: 1rem;
  &:hover {
    box-shadow: 0 12px rgba(0, 0, 0, 0.16);
    background-color: #ee2922;
    color: #ffffff;
  }
}
