.preheader {
  height: 60px;
  color: #ffffff;
  background: #222222;
  padding-block: 20px;
  p{
    font-size: 14px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.7;
  }
  &__left {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__right {
    display: flex;
    gap: 24px;
    & > div {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}
