.photogallery {
  width: 100%;
  padding-block: 64px 120px ;
  background: #F8F8F8;

  &__title {
    margin-bottom: 3.5rem;
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 10px;
    margin-bottom: 60px;
    padding-inline: 35px;


  }

  .picture {
    cursor: pointer;
    &__image {
      width: 100%;
      &:hover {
        filter: brightness(80%);
        transition: filter 0.3s ease-in;
      }
    }

  }
}