.photogallery {
  padding-block: 64px 120px;
  background: #f8f8f8;
  min-height: 80vh;
  &__title {
    margin-bottom: 3.5rem;
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 10px;
    margin-bottom: 60px;
    padding-inline: 35px;
    justify-items: center;
    justify-content: center;
  }

  .picture {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    &__image {
      width: 100%;
      height: auto;
      object-fit: cover;
      max-width: 100%; /* Change this line */
      max-height: 100%; /* Add this line */
      &:hover {
        filter: brightness(80%);
        transition: filter 0.3s ease-in;
      }
    }
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  padding-inline: 25px;

  &__image {
    max-width: 856px;
    height: 602px;
    border-radius: 5px;
    object-fit: contain;
  }
  &__inner {
    display: flex;
    flex-direction: column;
  }
  .cross {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }
  .arrow-left {
    cursor: pointer;
  }
  .arrow-right {
    cursor: pointer;
  }
}

@media (max-width: 995px) {
  .photogallery {
    &__list {
      margin-bottom: 60px;
      grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    }
  }
  .overlay {
    &__image {
      max-width: 720px;
      height: 520px;
    }
  }
}

@media (max-width: 872px) {
  .photogallery {
    padding-block: 44px 100px;
    &__list {
      margin-bottom: 60px;
      padding-inline: 0;
    }
    .picture {
    }
  }
  .overlay {
    &__image {
      max-width: 680px;
      height: 500px;
    }
  }
}
@media (max-width: 802px) {
  .photogallery {
    background: #f5f5f5;
    padding-block: 20px 80px;
    &__list {
      margin-bottom: 60px;
      padding-inline: 0;
      grid-template-columns: repeat(auto-fit, minmax(217px, 1fr));
    }
    .picture {
    }
  }
  .overlay {
    &__image {
      max-width: 630px;
      height: 460px;
    }
  }
}
@media (max-width: 760px) {
  .overlay {
    &__image {
      max-width: 570px;
      height: 420px;
    }
  }
}
@media (max-width: 700px) {
  .overlay {
    &__image {
      max-width: 500px;
      height: 400px;
    }
    .cross {
      margin-bottom: -15px;
    }
  }
}
@media (max-width: 600px) {
  .overlay {
    &__image {
      max-width: 400px;
      height: 300px;
    }
    .cross {
      margin-bottom: -5px;
    }

  }
}
@media (max-width: 500px) {
  .overlay {
    &__image {
      max-width: 300px;
      height: 240px;
    }
    .cross {
      margin-bottom: -10px;
    }
  }
}
@media (max-width: 400px) {
  .overlay {
    &__image {
      max-width: 230px;
      height: 190px;
    }
    .cross {
     margin-bottom: -15px;
    }
  }
}

