.advantage {
  position: relative;
  background-color: #ffffff;
  border-radius: 1.25rem;
  max-width: 370px;
  box-shadow: 3px 3px 3px rgba(36, 25, 23, 0.12);
  margin-bottom: 3.625rem;
  margin-right: 1.875rem;
  &:nth-child(n+4) {
    margin-bottom: 0;
  }

  &:nth-child(3n+3) {
    margin-right: 0;
  }

  &__circle {
    position: absolute;
    top: -28px;
    left: 18px;
  }

  &__info {
    padding: 1.75rem 1.25rem;
  }

  &__title {
    text-align: center;
    margin-bottom: 1.3rem;
  }
  &__text {
    text-align: center;
  }
}

