.advantages {
  margin-top: 7.4rem;
  width: 100%;
  margin-bottom: 6.3rem;


  &__title {
    margin-bottom: 4.4rem;
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));;
    grid-gap: 4rem;
    justify-items: center;
  }
}
