.advantages {
	margin-top: 7.5rem;
	width: 100%;
	margin-bottom: 6.3rem;

	&__title {
		margin-bottom: 4.5rem;
		text-align: center;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(2, minmax(300px, 1fr));
		grid-gap: 30px;
		justify-items: center;
	}
}
@media (max-width: 1080px) {
	.advantages {
		&__list {
			column-gap: 30px;
			row-gap: 60px;
		}
	}
}
@media (max-width: 730px) {
	.advantages {
		&__list {
			grid-template-columns: repeat(1, minmax(100%, 1fr));
		}
	}
}
@media screen and (max-width: 425px) {
	.advantages {
		&__list {
			grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
			> div {
				width: 100%;
			}
		}
	}
}
