.header {
  color: #241917;
  background: #f3f3f3;
  padding-block: 18px 26px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    img {
      height: 32px;
    }
  }
  &__menu {
    list-style-type: none;
    display: flex;
    gap: 12px;
    li {
      a {
        text-decoration: none;
        color: #241917;
        font-weight: 600;
        font-size: 14px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
