.footer {
  //background-color: #222222;
  //color: #FFFFFF;
  //height: 460px;
  //width: 100%;
  //
  //li {
  //  list-style-type: none;
  //}
  //&__info {
  //  display: flex;
  //  flex-direction: row;
  //  align-items: flex-start;
  //  justify-content: space-around;
  //  padding: 0;
  //  gap: 7.5rem;
  //
  //}
  ////height: 460px;
  display: flex;
  align-items: center;

  background-color: #222222;
  color: #FFFFFF;
  height: 460px;
  width: 100%;
  a {
    color: inherit;
    text-decoration: none;
  }
  h6 {
    font-size: 1rem;
  }

  .row {
    font-size: 1.4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-inline: 2rem;
    text-align: center;

    &__item {
      text-align: left;
      flex: 0 0 16%;
    }
    &__title {
      text-transform: uppercase;
      margin-bottom: 0.9rem;
    }

    .about__list {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      &__item {
        font-size: 0.8rem;
      }

    }
  }
  .horizontal-logo {

  }
}
