.langSwitcher {
  position: relative;
  display: inline-block;
  width: 76px;
  &__button {
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 4px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    z-index: 10;
  }
  &__label {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #241917;
  }
  &__menu {
    z-index: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    padding: 0;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.13);
    &_option {
      display: flex;
      align-items: center;
      padding: 8px;
      gap: 4px;
      cursor: pointer;
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      color: #241917;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: #f2f2f2;
      }
    }
  }
}
