.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 3rem;

  &__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }


  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    gap: 4.5rem;
    a {
      text-decoration: none;
      color: #241917;
    }
  }
}
