.news {
  width: 100%;
  margin-bottom: 3.75rem;
  &__title {
    margin-bottom: 2.0625rem;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}
