.news {
  width: 100%;
  margin-bottom: 3.8rem;

  &__title {
    margin-bottom: 2rem;
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    grid-gap: 4rem;
  }
}
